body{
    font-family: 'Bebas Neue', cursive;
}
h1{
    font-size: 80px;
    text-align: center;
    background-image: url(/bg.png);
}
.orange{
    color: orange;
}
.blue{
    color: blue;
}
.container{
    display: inline-flex;
}
.heading{
    font-size: 35px;
    margin-left: 80px;
}
.order{
    text-decoration: none;
    background-color: #fc766aff;
    border-bottom: 1px solid,yellowgreen;
    height: 10px;
    width: 10px;
}
.container-two{
    display: inline-flex;
}